body {
  padding: 0 5% 0 5%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
table {
  border-collapse: collapse;
}
th {
  border: 1px solid gray;
  background-color: lightgray;
}
td {
  border: 1px solid gray;
}
