@desktop:  ~"only screen and (min-width: 960px)";
@tablet:   ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:    ~"only screen and (min-width: 320px) and (max-width: 719px)";

@desktop-width: 966px;
@tablet-width: 700px;

@color-red: #456346;

body {
    padding: 0 5% 0 5%;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid gray;
    background-color: lightgray;
}

td {
    border: 1px solid gray;

}