@import (reference) "global.less";


#main-container{
    .header-container {
        background-color: deepskyblue;
        color: white;
        width: 100%;
        height: 150px;
        margin-bottom: 20px;

        .header-text{
            padding: 100px 0 0 20px;
            font-size: 20px;
            color: @color-red;
        }
    }

    .action-container{
        .new-org-button{
            margin-bottom: 20px;
        }
    }

    .search-container {
        border: 1px solid gray;
        padding: 20px 10px 20px 10px;

        .input-label{

        }

        .input-checkbox{

        }

        .input-parameters{
            .control-management{

            }

            .control-options{

            }

            .control-employee{

            }

            .control-assistant{

            }
        }

        .button{
            .clear{

            }

            .search{
                
            }
        }
    }
    
    #parameters {
        border: 1px solid gray;
        padding: 20px 10px 20px 10px;
    }
    
    #searchedOrgs {
        border: 1px solid gray;
        padding: 20px 10px 20px 10px;
        margin-top: 20px;
    }
}
