#header {
  background-color: deepskyblue;
  color: white;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}
#headerText {
  padding: 100px 0 0 20px;
  font-size: 20px;
  color: #456346;
}
#orgButton {
  margin-bottom: 20px;
}
#search {
  border: 1px solid gray;
  padding: 20px 10px 20px 10px;
}
#parameters {
  border: 1px solid gray;
  padding: 20px 10px 20px 10px;
}
#searchedOrgs {
  border: 1px solid gray;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;
}
